html,body{
	margin:0px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Lora', serif;
}


.container{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url("https://www.berkeleywellness.com/sites/default/files/field/image/400-05674517c-Masterfile-KirS_988_380.jpg");
	background-repeat: no-repeat;
	background-size: 100% 60%;
	background-position: top;
	height: 300px;
	width: 100%;
}

.navbar{
	width: 100%;
	height: 55px;
	/*border:2px solid red;
*/}
.title{
	font-size: 40px;
	/*border:2px solid blue;*/
	float: left;
	width:20%;
	text-align: center;
	color:#fff;
	display: inline;
	font-weight: bolder;
}
.nav-items{
	float: right;
	width: 30%;
	margin: 7px;
	display: inline-block;
	/*border:2px solid blue;*/
}

/* This changes all the animations globally */
.animate__animated.animate__fadeInUp, .animate__animated.animate__bounceIn {
  --animate-duration: 2s;
  --animation-delay: 0.8s;

}

.nav-items a{
	padding-left: 25px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
}

.content{
	padding:40px;
	margin: 5% 15% 5% 15%;
	font-size: 20px;
	text-align: center;
	/*text-shadow: 1px 1px #000;*/
	color: #fff;
	box-shadow: 10px 20px  20px #ff414d;
	background-color: #fd5c63;/*#f56a79;*/
}

.footer-2{
	width: 100%;
	font-size: 20px;
	display: inline-block;
	height: 300px;
	margin-top: 10%;
	bottom: 0;
	background-color: #ca3433;
	/*border:2px solid blue;*/
	color: #fff;
}

.foot-1{
	width: 25%;
	float: left;
	height: 200px;
	padding :10px;
	margin: 3%;
	text-align: center;
	/*border:2px solid red;*/
}

.div1{
	font-size: 30px;
	width: 100%;
	height: 50px;
	text-align: center;
	/*border:2px solid red;*/
}
.div1 h3{
	margin: 10px 30px 10px 30px;
}
.div2{
	font-size: 30px;
	width: 100%;
	height: 40%;
	margin: 7% 0 4% 0;
	text-align: center;
	/*border:2px solid red;*/
}
.div2 span{
	padding: 20px;
	font-size: 30px;
}

.foot-2{
	width: 60%;
	float: right;
	padding :20px;
	display: inline-block;
	/*border:2px solid red;*/
}

span i{
	color:white;
}

.foot-2 ul{
	float: left;
	width: 20%;
	margin-left: 3%;
}

.foot-2 form{
	float: right;
	padding :20px;
	color: #fff;
	margin-right: 5%;
	/*border:2px solid red;*/
} 

.foot-2 input[type=email]{
	font-size: 20px;
	padding: 10px;
	outline-style: none;
	width: 300px;
	margin-right: 2%;
}

.foot-2 input[type=submit]{
	font-size: 20px;
	padding: 10px;
	margin-top: 4%;
	background-color: #c21807;
	border:none;
	outline-style: none;
}
.end{
	width: 100%;
	height: 10%;
	color: #fff;
	padding-top: 20px;
	background-color: #ca3433;
	/*
	border:2px solid red;*/
}
.end span {
	padding-right: 5%;
	margin-left: 2%;

}
.end span a{
	text-decoration: none;
	color: #fff;
}


.flip-card{
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
}



.flip-card{
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #fd5c63;
  color: #fff;
  width: 400px;
  height: 500px;
  transform: rotateY(180deg);
}

.menu-div{
	/*border:2px solid red;*/
	height: 600px;
	width: 100%;
	display: inline-block;
}

.centered {
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.centered span {
	/*color: #ff414d;*/
	font-size: 35px;
	font-weight: bolder;

}

.glow {
  font-size: 100px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.reservation{
	text-align: center;
	/*border:1px solid red;*/
	margin-top: 100px;
	height:70px;
}
.reservation a{
	font-size: 30px;
	/*font-weight: bold;*/
	color: #fd5c63;
	text-decoration: none;
}



.content-1{
	display: inline-block;
	margin-top: 10%;
	width: 100%;
	height: 1000px;
	/*border:1px solid blue;*/
}
.para{
	float: left;
	width: 25%;
	font-size: 18px;
	height: 200px;
	margin:5% 3% 0 10%;
	/*border:1px solid red;*/
	/*background-color: #fd5c63;;*/
	color: #fd5c63;;
	/**/
	
}
.paraheader{
	/**/
	color:  #fd5c63;;
	font-size: 25px;
	text-align: left;
	margin-bottom: 10px;

}

.reserve-form{
	/*border:1px solid red;*/
	width: 40%;
	height: 750px;
	float: right;
/*	margin:0 10% 0 0;*/
	margin-right: 10%;
	padding:40px;
}

table{
	padding-left: 50px;
	padding-right: 40px;
	padding-bottom: 20px;
	/*border:1px solid red;*/
	width: 100%;
	height: 100%;
	background-color: #fd5c63;
}

input{
	/*width: 500px;*/
	height: 35px;
	font-size: 20px;
	/*background-color: #eeeeee;
*/}
td{
	padding-left: 0;
	padding-right: 0;
	padding-top: 40px;
	color: #fff;
}
input[type=submit]{
	
	font-size: 25px;
	height: 50px;
	width: 150px;
	color: #fd5c63;

	cursor: hand;
	/*background-color: #dcdcdc;*/
}
input[type=submit]:hover{
	color: white;
	background-color: #fd5c63;
}
input{
	outline-style: none;
}

.main-content{
	width: 100%;
	height: 300px;
	margin-top: 3%;

/*	border:1px solid red;*/
	display: inline-block;
}

.Email{
	float: left;
	margin-left: 8%;
	width: 25%;
	 height: 300px;
	 margin-top: 2%;
	/* border:2px solid pink;*/
	 display: inline-block;
}
.title-contact{
	float: left;
	margin-top: 20%;
	margin-left: 5%;
	color: #fd5c63;;
	font-size: 30px;
	/* border:2px solid pink;*/
}
.info{	
	float: right;
	margin-right: 2%;
	margin-top: 10%;
	color: #fd5c63;;
	font-size: 20px;
	/* border:2px solid pink;*/
}
.Phone{
	float: left;
	margin-left: 5%;
	width: 25%;
	 height: 300px;
	 margin-top: 2%;
	/* border:2px solid pink;*/
	 display: inline-block;
}

.info-p{	
	float: right;
	margin-right: 20%;
	margin-top: 10%;
	color: #fd5c63;;
	font-size: 20px;
	/* border:2px solid pink;*/
}

.add{
	float: left;
	margin-left: 5%;
	width: 25%;
	 height: 300px;
	 margin-top: 2%;
	 /*border:2px solid pink;*/
	 display: inline-block;
}

.info-a{	
	float: right;
	margin-right: 15%;
	margin-top: 10%;
	color: #fd5c63;;
	font-size: 20px;
/*	 border:2px solid pink;*/
}
