html,body{
	margin:0px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Lora', serif;
}


.container{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url("https://www.berkeleywellness.com/sites/default/files/field/image/400-05674517c-Masterfile-KirS_988_380.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	height: 600px;
	width: 100%;
}

.navbar{
	width: 100%;
	height: 55px;
}
.title{
	font-size: 40px;
	float: left;
	width:20%;
	text-align: center;
	color:#fff;
	display: inline;
	font-weight: bolder;
}
.nav-items{
	float: right;
	width: 35%;
	margin: 7px;
	display: inline-block;
}

/* This changes all the animations globally */
.animate__animated.animate__fadeInUp, .animate__animated.animate__bounceIn {
  --animate-duration: 2s;
  --animation-delay: 0.8s;

}

.nav-items a{
	padding-left: 25px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;

}
.tag{
	font-size: 30px;
	color: #fff;
	margin-top: 15%;
}
.reserve{
	margin-top: 5%;
}
.res-btn{
	padding:15px;
	font-size: 18px;
	color: white;
	background-color: #fd5c63;
	font-family: 'Lora';
	border:1px solid #fd5c63;
	outline-style: none;
}

.res-btn a{
	text-decoration: none;
	color: #fff;
}


.chef{
	height: 100%;
	margin-top: 8%;
	position: relative;
}
.h1{
	text-align: center;
	margin-right: 20%;
	padding-top: 40px;
	margin-left: 20%;
	color: #fd5c63;
	top: 50%;
}
.pic{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmVP74508n3fJRlcS72kw1Cj5yApsbh0OVtg&usqp=CAU");
	float: left;
	margin-top: 5%;
	margin-left: 20%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover, contain;
	width: 20%;
	height: 50%;
}
.chef-intro{
	float: right;
	margin-right: 10%;
	margin-top: 5%;
	font-size: 20px;
	width: 30%;
	height: 50%;
	color: #fff;
	padding: 40px;
	text-align: center;
	background-color:  #fd5c63;
	box-shadow: 10px 10px  20px #ff414d;
}
.chef-intro h3{
	font-weight: bold;
	margin-bottom: 2%;
	background-color:  #fd5c63;
}
.speciality{
	width: 100%;
	height: 900px;
	color:  #fd5c63;
}
.speciality h1{
	text-align: center;
	margin-top: 5%;
}
.food{
	margin-top: 5%;
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;
	height: 700px;
}
.mini-menu{
	text-align: center;
	width: 95%;
	color: #fff;
	font-size: 17px;
	font-weight: 20px;
	padding-top: 5%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #fd5c63;
	box-shadow: 10px 10px  20px #ff414d;
}
.mini-menu a{
	color: #fff;
}
.slideshow{
	display: block;
	height: 600px;
}

#slider{
	z-index: -9;
	display: block;
	margin: 2px 2px 2px 2px;
	width: 580px;
	height: 580px;
	position: relative;
}
#slider img{
	width: 580px;
	height: 580px;
	object-fit: center;
	
}

#slider a{
	position: absolute;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

#slider a:nth-of-type(1){
	z-index: 20;
}
#slider a:nth-of-type(2){
	z-index: 20;
}
#slider a:nth-of-type(n+3){
	display: none;
}
@keyframes fade{
	from{opacity:0.4}
	to{opacity: 1}
}
@-webkit-keyframes fade{
	from{opacity:0.4}
	to {opacity: 1}
}

.d1{
	float: left;
	width: 600px;
	height: 97%;
	padding:5px;
	margin-top: 1%;
	margin-left: 3%;
	
}
.d2{
	float:	right;
	width: 600px;
	padding:20px;
	margin: 3%;
	margin-right: 30px;
	height: 75%;
}

.gallery{
	margin-top: 7%;
	text-align: center;
	font-weight: bold;
}
.row {
	margin-top: 2%;
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  width: 100%;
  padding: 0 4px;
  margin-bottom: 1%;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 43%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.reviews{
	width: 100%;
	height: 800px;
	margin-top: 5%;
	margin-bottom: 2%;
	padding-top: 30px;
	background-color: #fd5c63;
}
.review{
	margin: 4% 20% 0 20%;
	font-size: 25px;
	color:  #fff;
	background-color: #fd5c63;
}
.footer-1 {
	width: 100%;
	height: 600px;
	display: inline-block;

}
.map{
	float: left;
	margin:5% 2% 5% 10%;
	width: 40%;
}
.contact{
	float: right;
	width: 25%;
	text-align: center;
	padding: 50px;
	padding-top: 20px;
	font-size: 20px;
	background-color: #fd5c63;
	color: #fff;
	box-shadow: 10px 10px  20px #ff414d;
	margin:3% 8% 10% 0;
}

.footer-2{
	width: 100%;
	font-size: 20px;
	display: inline-block;
	height: 300px;
	margin-top: 10%;
	bottom: 0;
	background-color: #ca3433;
	color: #fff;
}

.foot-1{
	width: 25%;
	float: left;
	height: 200px;
	padding :10px;
	margin: 3%;
	text-align: center;
	
}

.div1{
	font-size: 30px;
	width: 100%;
	height: 50px;
	text-align: center;
	
}
.div1 h3{
	margin: 10px 30px 10px 30px;
}
.div2{
	font-size: 30px;
	width: 100%;
	height: 40%;
	margin: 7% 0 4% 0;
	text-align: center;
}
.div2 span{
	padding: 20px;
	font-size: 30px;
}

.foot-2{
	width: 60%;
	float: right;
	padding :20px;
	display: inline-block;
}

span i{
	color:white;
}

.foot-2 ul{
	float: left;
	width: 20%;
	margin-left: 3%;
}

.foot-2 form{
	float: right;
	padding :20px;
	color: #fff;
	margin-right: 5%;
} 

.foot-2 input[type=email]{
	font-size: 20px;
	padding: 10px;
	outline-style: none;
	width: 300px;
	margin-right: 2%;
}

.foot-2 input[type=submit]{
	font-size: 20px;
	padding: 10px;
	margin-top: 4%;
	background-color: #c21807;
	width: 150px;
	border:none;
	outline-style: none;
}
.end{
	width: 100%;
	height: 10%;
	color: #fff;
	padding-top: 20px;
	background-color: #ca3433;
}
.end span {
	padding-right: 5%;
	margin-left: 2%;

}
.end span a{
	text-decoration: none;
	color: #fff;
}

.hamburger{
	display: none;
	float:left;
	padding-left: 20px;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 1px;
	color:white;
	font-size: 30px;
}

.footer-3{
	display: none;
}
#navbar{
	display: none;
}
#navbar .items{
	display: none;
} 
#navbar div i{
	display: none;
}

.food-paradise{
	width: 100%;
	height: 20%;
	text-align: center;
	color: #fd5c63;
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
}
.content-privacy{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 18px;
	padding:15px;
	background-color: #fff;
}
.container-div-privacy{
	background-color: #eeeeee;

}









/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    margin-left: 10%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 1000px) {
	.container{
		height: 500px;
	}
	.nav-items{
		display: none;
	}
	.title{
		width: 40%;
		margin-left: 2%;
		font-size: 26px;
		margin-left: 27%;
		float: left;
		text-align: center;
	}


	.hamburger{
		display: block;
	}
	#navbar{
		width: 300px;
		float: left;
		padding-top: 0;
		background-color:#fd5c63; 
		height: 100%;
		position: fixed;
		z-index: 9;
		margin-top: 0;
	}
	
	#navbar .items{
		display: block;
		text-align: center;
		font-size: 20px;
		height: 100%;
		margin-left: 20%;
		margin-top: 5%;
		margin-right: 20%;
	}
	#navbar a{
		text-decoration: none;
		color: #ffffff;
		font-size: 30px;
		font-style: italic;
		
	}
	#navbar ul{
		list-style: none;
		padding: 10px;
	}
	#navbar li{
		padding: 20px;
		
	}

	#navbar div i{
		display: block;
		float: right;
		font-size: 40px;
		color: #fff;
		font-style: normal;
		padding-right: 20px;
		margin-top: 10px;

	}
	.content{
		margin-top: 30%;
	}
	.chef{
		margin-top: 20%;
		
	}
	h1{
		margin-top: 70px;
	}
	.pic{
		width: 50%;
		height: 300px;
		margin-left: 25%;
	}
	.chef-intro{
		width: 60%;
		height: 50%;
		margin-top: 2%;
		padding: 20px;
		font-size: 18px;
		margin-right:15%;
	}
	.speciality{
		margin-top: 80%;
		font-size: 20px;
		height: 1000px;
	}
	.food{
		height: 530px;
	}
	.mini-menu{
		width: 55%;
		margin-left: 4%;
		height: 500px;
		font-size: 13px;
		padding: 5px;
	}
	.slideshow{
	height: 310px;
	width: 500px;
	margin-left: 30%;
	}

	#slider{
		margin: 2px 2px 2px 2px;
		width: 250px;
		height: 300px;
		position: relative;
	}
	#slider img{
		width: 400px;
		height: 300px;
		object-fit: center;
		margin-left: 10%;
		
	}

	.review{
		font-size: 15px;
		margin-top: 5%;
		margin: 2% 3% 3% 2%;
		margin-bottom: 10%;
	}
	.reviews{
		margin-bottom: 5%;
		padding-top: 2%;
		height: 100%;
	}
	.map{
		display: none;
	}
	.footer-1{
		display: none;
	}
	.footer-2, .end{
		display: none;
	}
	.footer-3{


		display: block;
		width: 100%;
		margin-top: 20%;
		font-size: 20px;
		height: 100%;
		position: relative;
		box-shadow: 20px 40px 30px 50px #eee;
		background-color: #fff;
		color:#fd5c63;
		
	}
	.contact-info{
		text-align: center;
		padding: 10px;
		font-size: 15px;
		color: #fd5c63;
		margin-top: 2%;
	}
	.social{
		font-size: 30px;
		width: 100%;
		height: 50px;
		margin: 5% 0 0 0;
		text-align: center;
	}
	.social span{
		padding: 10px;
		font-size: 30px;
		margin-bottom: 0;
	}

	.foot-2{
		width: 100%;
		margin-right: 35%;
		padding: 0;
		font-size: 15px;
		height: auto;
	}

	span i{
		color:#fd5c63;
	}

	.foot-2 ul{
		width: 50%;
		text-align: center;
	}
	.last{
		border:2px solid #fd5c63;
		font-size: 16px;
		text-align: center;
		margin-bottom: 0;
		bottom: 0;
		width: 100%;
		color: #fff;
		position: absolute;
		background-color: #fd5c63;
	}


}






